//  ヘッダー全体のタグ
 header{
    background-color:lightskyblue;
    margin-bottom: 40px;
}
// ヘッダーロゴのCSS
.logo{
    margin:10px 0 0 50px;
    float:left;
    width: 43px;
    &:hover {
        background-color:rgb(200, 234, 255) !important;
    }
}
// ヘッダーメニューのCSS
ul.list {
    color:white;
    display:flex;
    justify-content: flex-end;
    list-style: none;
    
}
//メニュー要素のCSS
li {
    padding: 0 10px;
    margin-top:30px;
    &:hover {
        background-color:rgb(200, 234, 255);
    }
}
// フロートメニューのCSS
.MuiPopover-paper{ 
    background-color:rgb(72, 109, 132)!important;
}
// フロートメニューのCSS
ul.poplist{
    list-style: none;
    transform: translateX(-12%);
}
// 遷移タグのCSS
a{
    text-decoration: none!important;
    &:visited{
        color: white;
    }
    &:hover {
        color:gray !important;
    }
}
// ユーザーのアイコンのCSS
.icon{
    position: relative;
    transform: translateY(-50%);
    width: 43px;
    &:hover {
        background-color:rgb(200, 234, 255) !important;
    }
}
